<!DOCTYPE html>
<html lang="en">
<head>
   {{>bar}}
</head>
<body>
    {{>navbar}}

<form action="/login" method="post">

<input type="email" required  placeholder="Enter Email"  name="email" >
<br>
<input type="password" name="password" required placeholder="Enter Password">
<br>


<input type="submit" value="login">

</form>


</body>
</html>